.home .card .card, .home .fonctionnement, .home .headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  margin: auto;
}

body {
  box-sizing: border-box;
  margin: 0;
}

main {
  width: 100%;
}

section {
  display: flex;
}

a {
  text-decoration: none;
  color: #353535;
  font-weight: 500;
}

body {
  font-family: "roboto";
  color: #000000;
}

button {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
}

.logo {
  font-family: "Shrikhand";
  font-style: italic;
  font-weight: 400;
  line-height: 43.74px;
  color: #000000;
}

.instructions {
  height: 72.38px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 38px 0 10px;
  margin-bottom: 25px;
}
.instructions span {
  position: relative;
  left: -25px;
  top: 4px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 6px 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
.instructions a {
  text-align: left;
  padding-right: 22px;
}
.instructions i {
  font-size: 19px;
  color: gray;
  margin-right: 27px;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header .goback {
  position: absolute;
  left: 20px;
  right: 22.67px;
  top: 23.33px;
  bottom: 23.33px;
  width: 18px;
  display: none;
}
.header .logo {
  padding: 20px 80px;
  font-size: 30px;
  line-height: 43.74px;
}

.location {
  height: 50px;
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location i {
  margin-right: 15px;
}

.main-container {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  background-color: #353535;
  width: 100%;
}
footer ul {
  padding: 0;
  list-style: none;
  line-height: 30px;
  margin-top: 16px 0 0 0;
}
footer a {
  color: #ffffff;
}
footer .foot-contain {
  justify-content: space-around;
  padding: 22px 25px;
  width: 100%;
}
footer .logo {
  font-size: 18px;
  line-height: 26.24px;
  color: #ffffff;
  padding-bottom: 16px;
}
footer i {
  margin-right: 11px;
}

.home .headline {
  background-color: #F7F7F7;
  padding: 30px 5px 57px 5px;
}
.home .headline p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  line-height: 21px;
  margin-bottom: 27px;
  text-align: center;
}
.home h1 {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 0 20px;
}
.home .btn-gradient {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px 20px;
  margin: auto;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}
.home .btn-gradient:hover {
  background: #ff7edb;
}
.home .btn-gradient a {
  color: #ffffff;
}
.home .fonctionnement {
  max-width: 500px;
  margin: 28px auto 65px auto;
}
.home .nav {
  align-self: center;
  margin-top: 10px;
  margin-left: 5px;
}
.home .instruction {
  height: 72.38px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 38px 0 10px;
  margin-bottom: 25px;
}
.home .instruction span {
  position: relative;
  left: -25px;
  top: 4px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 6px 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
.home .instruction a {
  text-align: left;
  padding-right: 22px;
}
.home .instruction i {
  font-size: 19px;
  color: gray;
  margin-right: 27px;
}
.home .store i {
  color: #9356DC;
}
.home .restaurants {
  background-color: #F7F7F7;
  padding-top: 54px;
  padding-bottom: 66px;
  display: block;
}
.home .restaurants img {
  object-fit: cover;
  width: 100%;
  height: 220px;
  border-radius: 20px 20px 0px 0px;
}
.home .restaurants-contain {
  width: 90%;
  max-width: 490px;
  margin: auto;
}
.home .card {
  margin-bottom: 18px;
  position: relative;
}
.home .card .card {
  margin-top: 33px;
}
.home .card .card-content {
  background-color: #ffffff;
  padding-left: 15px;
  display: flex;
  border-radius: 0px 0px 20px 20px;
  margin-top: -5px;
}
.home .card .card-txt {
  width: 95%;
}
.home .card .card-txt h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.home .card .card-txt i {
  font-weight: 300;
  font-size: 22px;
}
.home .card .card-txt i:hover {
  font-weight: 900;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, #FF79DA -11.44%, #9356DC 123.93%);
}
.home .card .card-txt-subtitle {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: left;
}
.home .card .card-txt p {
  margin-top: 10px;
  font-weight: 300;
}
.home .card .card-badge {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 7px 10px;
  right: 10px;
  top: 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
