.home .fonctionnement, .home .headline, .card .card, .main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

html {
  margin: auto;
}

body {
  box-sizing: border-box;
  margin: 0;
}

.main-container {
  width: 100%;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
  color: #353535;
  font-weight: 500;
}

body {
  font-family: "roboto";
  color: #000000;
}

button {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
}

.logo {
  font-family: "Shrikhand";
  font-weight: 400;
  line-height: 43.74px;
  color: #000000;
}

h3 {
  font-family: "roboto";
  font-weight: 500;
  font-size: 18px;
  line-height: 21.09px;
}

.btn-gradient {
  background: linear-gradient(to top, #9356DC, #FF79DA);
  padding: 15px 20px;
  margin: auto;
  border: none;
  border-radius: 25px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}
.btn-gradient a {
  color: #ffffff;
}
.btn-gradient:hover {
  background: #ff7edb;
}

.instructions {
  height: 72.38px;
  width: 320px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 25px auto;
}
.instructions span {
  position: relative;
  left: -18px;
  top: 4px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 6px 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
.instructions a {
  text-align: left;
  margin-left: 10px;
}
.instructions i {
  font-size: 19px;
  color: gray;
  margin-right: 27px;
}

.card .card {
  margin-top: 33px;
}
.card .card-content {
  background-color: #ffffff;
  padding-left: 15px;
  display: flex;
  border-radius: 0px 0px 20px 20px;
  margin-top: -5px;
}
.card .card-txt {
  width: 95%;
}
.card .card-txt h3 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.card .card-txt-subtitle {
  font-size: 17px;
  font-weight: 300;
  padding-bottom: 20px;
  text-align: left;
}
.card .card-txt p {
  margin-top: 10px;
  font-weight: 300;
}
.card .card-badge {
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  padding: 7px 10px;
  right: 10px;
  top: 20px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.select {
  height: 71px;
  background-color: #99E2D0;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  top: 0;
  right: -62px;
  transition-duration: 250ms;
}
.select .check {
  padding: 24px;
  color: white;
  font-weight: 900;
  font-size: 20px;
}

.card-plate:focus .txt {
  width: 80%;
}
.card-plate:focus h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plate:focus P {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plate:focus .select {
  margin-right: 62px;
  transition-duration: 250ms;
  animation-delay: 3s;
}
.card-plate:focus .margin {
  margin-right: 2px;
  transition-duration: 250ms;
  animation-delay: 3s;
}

@media only screen and (min-width: 1100px) {
  .card-plate:hover .select {
    transform: translateX(-62px);
    transition-duration: 250ms;
    animation-delay: 3s;
  }
  .card-plate:hover .margin {
    transform: translateX(-62px);
    transition-duration: 250ms;
    animation-delay: 3s;
  }
}
.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
}
.header .goback {
  position: absolute;
  left: 20px;
  right: 22.67px;
  top: 23.33px;
  bottom: 23.33px;
  width: 18px;
}
.header .logo {
  padding: 20px 80px;
  font-size: 30px;
  line-height: 43.74px;
}

.location {
  height: 50px;
  background-color: #EAEAEA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.location i {
  margin-right: 15px;
}

footer {
  background-color: #353535;
  width: 100%;
}
footer ul {
  padding: 0;
  list-style: none;
  line-height: 30px;
  margin-top: 16px 0 0 0;
}
footer a {
  color: #ffffff;
}
footer .foot-contain {
  justify-content: space-around;
  padding: 22px 25px;
  max-width: 1650px;
}
footer .logo {
  font-size: 18px;
  line-height: 26.24px;
  color: #ffffff;
  padding-bottom: 16px;
}
footer i {
  margin-right: 11px;
}

@media only screen and (min-width: 1100px) {
  footer span {
    position: relative;
    left: 100px;
    top: 20px;
  }
  footer .foot-row {
    display: flex;
    flex-direction: row-reverse;
    width: 80%;
  }
  footer ul {
    display: flex;
    width: 600px;
    justify-content: space-between;
  }
}
.home .headline {
  background-color: #F6F6F6;
  padding: 30px 5px 57px 5px;
}
.home .headline p {
  font-size: 18px;
  font-weight: 300;
  color: #353535;
  line-height: 21px;
  margin-bottom: 37px;
  text-align: center;
}
.home h1 {
  font-family: "roboto";
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
  padding: 0 20px;
}
.home .fonctionnement {
  background-color: #ffffff;
  margin: 28px auto 60px auto;
}
.home .fonctionnement h2 {
  padding-top: 40px;
  width: 100%;
}
.home .nav {
  margin-top: 10px;
  margin-left: 5px;
  padding-bottom: 68px;
}
.home .instruction {
  height: 72.38px;
  width: 320px;
  background: #F6F6F6;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  display: flex;
  align-items: center;
  margin: 25px auto;
}
.home .instruction span {
  position: relative;
  left: -18px;
  top: 4px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 6px 12px;
  color: #ffffff;
  font-weight: 500;
  font-size: 15px;
}
.home .instruction a {
  text-align: left;
  margin-left: 10px;
}
.home .instruction i {
  font-size: 19px;
  color: gray;
  margin-right: 27px;
}
.home .store i {
  color: #9356DC;
}
.home .restaurants {
  background-color: #F6F6F6;
  padding-top: 44px;
  padding-bottom: 66px;
  display: block;
}
.home .restaurants h2 {
  max-width: 500px;
  margin: 20px auto;
}
.home .restaurants img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 220px;
  border-radius: 20px 20px 0px 0px;
}
.home .restaurants-contain {
  padding: 20px;
  margin: auto;
  max-width: 1080px;
}
.home .contain-card {
  margin: 0 auto;
}
.home .card {
  margin-bottom: 18px;
  margin: auto;
  margin-bottom: 20px;
  position: relative;
  max-width: 500px;
}
.home .card .heart {
  font-weight: 100;
  font-size: 22px;
}
.home .card .heart:hover, .home .card .heart:active {
  font-weight: 900;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, #FF79DA -11.44%, #9356DC 123.93%);
  transform-origin: bottom 100%;
  transition: ease-in-out 300ms;
}

@media only screen and (min-width: 1100px) {
  .nav {
    width: 1080px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0;
  }
  .restaurants h2 {
    margin: 20px 20px;
    min-width: 95%;
  }
  .contain-card {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    gap: 10px 20px;
    justify-content: space-between;
  }
  .card {
    width: 46%;
    margin: 0;
  }
}
.image img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu {
  background: #F6F6F6;
  border-radius: 40px 40px 0px 0px;
  transform: translatey(-40px);
  max-width: 1055px;
  margin: auto;
}
.menu h1 {
  font-size: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.menu h2 {
  font-family: "roboto";
  font-weight: 300;
  font-size: 16px;
  line-height: 18.75px;
  border-bottom: 3px solid #99E2D0;
  padding: 10px 0;
  width: 40px;
  text-transform: uppercase;
}
.menu .card-content {
  padding: 20px 13px;
  max-width: 634px;
  margin: auto;
}
.menu .card-content .heart {
  font-weight: 100;
  font-size: 22px;
}
.menu .card-content .heart:hover, .menu .card-content .heart:active {
  font-weight: 900;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  background-image: linear-gradient(0deg, #FF79DA -11.44%, #9356DC 123.93%);
  transform-origin: bottom 100%;
  transition: ease-in-out 300ms;
}
.menu .card-content .heart {
  margin-right: 20px;
}

.card-plate {
  background-color: #ffffff;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1019607843);
  border-radius: 15px;
  padding: 1px 13px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
}
.card-plate h3 {
  margin-bottom: 0;
  margin-top: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plate .txt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-plate .txt p {
  font-size: 15px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-plate .txt span {
  font-weight: 700;
  font-size: 16px;
  padding-left: 6px;
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.entrees {
  padding: 32px 0 0 0;
  opacity: 0;
  animation: apparition 1s ease-in-out forwards;
}

.plats {
  padding: 40px 0;
  opacity: 0;
  animation: apparition 3s ease-in-out forwards;
}

.desserts {
  opacity: 0;
  animation: apparition 5s ease-in-out forwards;
}

.menu .btn-gradient {
  display: block;
  width: 186px;
  margin-top: 60px;
  transform: translateY(20px);
}
.menu .fond-marge {
  border: 0;
  height: 40px;
  background-color: #F6F6F6;
  opacity: 1;
  transform: translateY(40px);
}

@media only screen and (min-width: 1100px) {
  .menu h1 {
    justify-content: center;
    gap: 24px;
  }
}/*# sourceMappingURL=style.css.map */