/*------------------------ cards select menu ------------------*/

.card-plate {
    background-color: $color-white;
    box-shadow: 0px 4px 15px 0px #0000001A;
    border-radius: 15px;
    padding: 1px 13px;
    margin-bottom: 12px;
    position: relative;
    overflow: hidden; /* cache le "carré vert annimé"  */
    cursor: pointer;
  
    h3 {
      margin-bottom: 0;
      margin-top: 12px;
      white-space: nowrap; /* empêche le passage à la ligne  */
      overflow: hidden; /* cache le texte en débordement */
      text-overflow: ellipsis; /* ajoute les points de supensions */ 
    }
  
    .txt {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
  
      p {
        font-size: 15px;
        font-weight: 300;
        margin-top: 5px;
        margin-bottom: 12px;
        white-space: nowrap; /* empêche le passage à la ligne  */
        overflow: hidden; /* cache le texte en débordement */
        text-overflow: ellipsis;  /* ajoute les points de supensions */
      }


      .margin { /*----- partie à animer -----------*/
        margin-right: 0px; /*-- prix, place initiale hors click*/
        transition: 250ms ease-in-out; /*-- fluidité pour la sortie du suvol --*/
      }

      span {  /*--------- prix ------*/
        font-weight: 700;
        font-size: 16px;
        padding: 0 8px;
        
        &::after {  /*-----check carré vert sans html-----*/
          font-family: "Font Awesome 6 Free";
          content: "\f058"; /*---- icone check ----*/
          color: white; /*-- couleur de l'icone --*/
          font-size: 20px; /*-- taille de l'icone --*/
          position: absolute; /*--- réglage de la position dans le parent, hors flux ---*/
          top: 0; /*-- superposition à la card à partir du haut --*/
          
          padding: 26px; /*-- carré vert select--*/
          width: 16px;
          border-radius: 0px 15px 15px 0px;
          background-color: $color-terciaire;

          right: -68px; /*-- carré vert, place initiale hors click (caché à droite) --*/
          transition: 250ms ease-in-out; /*-- fluidité pour la sortie du survol --*/
        }
      }
    }
  }

/*------------- Animation check select au click-------*/

.card-plate:focus { /*-- focus pour tenir le click --*/
  
& h3, p{
 width: 250px; /*- réduction de la largeur du texte  -*/
}
  .txt span::after { /*--carré vert select--*/
    right: 0; /*-- devient visible par superposition du bord droit de la card --*/
    transition: 250ms ease-in-out; /*-- fluidité de la transition sur focus --*/
  }

  .margin {
    margin-right: 62px; /*-- le prix se déplace à gauche --*/
    transition: 250ms ease-in-out; /*-- fluidité de la transition sur focus--*/
  }
}


/*............................ Medias queries card-plate-select only DESKTOP ...................*/

@include desktop {

  .card-plate:focus {
  
  & h3, p{
   width: max-content;
  }
}
  
  .card-plate:hover { /*---- comportement au survol ------*/

    .txt span::after { /*--carré vert select--*/
      right: 0; /*-- devient visible par superposition du bord droit de la card --*/
      transition: 250ms ease-in-out; /*-- fluidité de la transition au survol --*/
    }

    .margin {
      margin-right: 62px; /*-- le prix se déplace à gauche --*/
      transition: 250ms ease-in-out; /*-- fluidité de la transition au survol --*/
    }
  }
}