//Anim check select********

.card-plate:focus {
  caret-color: white;

& h3, p{
 width: 250px;

}
  .txt span::after {
    right: 0;
    transition: 250ms;
  }

  .margin {
    margin-right: 62px;
    transition: 250ms;
  }
}

.card-plate:not(:focus) {
  caret-color: white;

  .txt span::after {
    right: -68px;
    transition: 250ms;
  }

  .margin {
    margin-right: 0px;
    transition: 250ms;
  }
}


///********Medias queries********///

@include desktop {

  .card-plate:focus {
    
  
  & h3, p{
   width: max-content;
  
  }
}
  
  .card-plate:hover {

    .txt span::after {
      right: 0;
      transition: 250ms;
    }

    .margin {
      margin-right: 62px;
      transition: 250ms;
    }
  }
}