.select {
  height: 71px;
  background-color: $color-terciaire;
  width: 59px;
  border-radius: 0px 15px 15px 0px;
  position: absolute;
  top: 0;
  right: -62px;
  transition-duration: 250ms;

  & .check {
    padding: 24px;
    color: white;
    font-weight: 900;
    font-size: 20px;
  }
}

//Anim check select********

.card-plate:focus{

 .txt{
  width: 80%;
 }

 h3{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis
 }

 P{
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
 }

  .select {
    margin-right: 62px;
    transition-duration: 250ms;
    animation-delay: 3s;
  }

  .margin {
    margin-right: 2px;
    transition-duration: 250ms;
    animation-delay: 3s;
  }
}



///********Medias queries********///

@include desktop {

  .card-plate:hover {

    .select {
      transform: translateX(-62px);
      transition-duration: 250ms;
      animation-delay: 3s;
    }

    .margin {
      transform: translateX(-62px);
      transition-duration: 250ms;
      animation-delay: 3s;
    }
  }
}