

html {
    margin: auto;
}

body {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
	@extend %flex-column;
}

main {
    width: 100%;
}

section {
    display: flex;
}

a {
    text-decoration: none;
    color: $bg-grey;
    font-weight: 500;
}


