/*--------------------------typography générale du site------------*/

body {
    font-family: $font-family_1;
    color: $color-black;
}


button {
    font-family: $font-family_1;
    font-weight: 500;
    font-size: 16px;
    color: white;
    text-shadow: 0px 1px 6px rgb(99, 99, 99);
}

.logo {
    font-family: $font-family_2;
    font-weight: 400;
    line-height: 43.74px;
    color: $color-black;
}

h3{
    font-family: $font-family_1;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.09px;
}