/*************************************************** Page des menus ******************************/

.image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu {
  background: $bg-color;
  border-radius: 40px 40px 0px 0px;
  transform: translatey(-40px);
  max-width: 1055px;
  margin: auto;

  h1 {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $font-family_1;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    border-bottom: 3px solid $color-terciaire;
    padding: 10px 0;
    width: 40px;
    text-transform: uppercase;
  }

  .card-content {
    padding: 20px 13px;
    max-width: 634px;
    margin: auto;
  }
}

/*-------apparition des groupes "entrees plats desserts" progressives ----*/

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.entrees { /* selection du groupe entrees   */
  padding: 32px 0 0 0;
  opacity: 0;
  animation: apparition 1s ease-in-out forwards; /* apparait en 1s et reste en place */
}

.plats {
  padding: 40px 0;
  opacity: 0;
  animation: apparition 1s 3s ease-in-out forwards; /* apparait avec un delay de 3s */
}

.desserts {
  opacity: 0;
  animation: apparition 1s 6s ease-in-out forwards; /* apparait avec un delay de 6s */
}

/*----------------- bouton cta degradé pour la page menus-----------*/

.menu {
  .btn-gradient {
    display: block;
    width: 186px;
    margin-top: 60px;
    transform: translateY(20px);
  }
}

/*----------------- marge de fond -----------*/
.fond-marge { /*- compense la remontée du "menu" sur l'image -*/
  border: 0;
  height: 40px;
  background-color: $bg-color;
  opacity: 1;
  transform: translateY(40px);
}

/*++++++++++++++++++++++++ Medias queries pages menus restaurant only DESKTOP ++++++++++++++++++++++++*/

@include desktop {

  .menu {

    h1 {
      justify-content: center;
      gap: 24px;
    }

    .heart {
      margin-right: 22px;
    }
  }
}
