.image img {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.menu {
  background: $bg-color;
  border-radius: 40px 40px 0px 0px;
  transform: translatey(-40px);
  max-width: 1055px;
  margin: auto;

  h1 {
    font-size: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
  }

  h2 {
    font-family: $font-family_1;
    font-weight: 300;
    font-size: 16px;
    line-height: 18.75px;
    border-bottom: 3px solid $color-terciaire;
    padding: 10px 0;
    width: 40px;
    text-transform: uppercase;
  }

  .card-content {
    padding: 20px 13px;
    max-width: 634px;
    margin: auto;
    

    .heart {
      margin-right: 20px;
    }
  }
}

.card-plate {
  background-color: $color-white;
  box-shadow: 0px 4px 15px 0px #0000001A;
  border-radius: 15px;
  padding: 1px 13px;
  margin-bottom: 12px;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  h3 {
    margin-bottom: 0;
    margin-top: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    p {
      font-size: 15px;
      font-weight: 300;
      margin-top: 5px;
      margin-bottom: 12px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    //prix
    span {
      font-weight: 700;
      font-size: 16px;
      padding: 0 8px;

      //check icone vert
      &::after {
        font-family: "Font Awesome 6 Free";
        content: "\f058";
        color: white;
        font-size: 20px;
        position: absolute;
        padding: 24px;
        top: 0;
        background-color: $color-terciaire;
        width: 20px;
        border-radius: 0px 15px 15px 0px;
      }
    }
  }
}

@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.entrees {
  padding: 32px 0 0 0;
  opacity: 0;
  animation: apparition 1s ease-in-out forwards;
}

.plats {
  padding: 40px 0;
  opacity: 0;
  animation: apparition 3s ease-in-out forwards;
}

.desserts {
  opacity: 0;
  animation: apparition 5s ease-in-out forwards;
}

.menu {
  .btn-gradient {
    display: block;
    width: 186px;
    margin-top: 60px;
    transform: translateY(20px);
  }

  .fond-marge {
    border: 0;
    height: 40px;
    background-color: $bg-color;
    opacity: 1;
    transform: translateY(40px);
  }
}



///********Medias queries********///

@include desktop {

  .menu {

    h1 {
      justify-content: center;
      gap: 24px;
    }
  }
}