/// couleurs
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-terciaire: #99E2D0;
$color-white: #ffffff;
$color-black: #000000;

$bg-color: #F7F7F7;
$bg-grey: #353535;
$bg-grey-2: #EAEAEA;

/// typographie
$font-family_1: 'roboto';
$font-family_2: 'Shrikhand';

/// Media queries
$small-screen: 1999px;
$large-screen: 1100px;

